@model ConsultationRegistrationModel
<div class="container mt-5">
    <h2>Форма реєстрації на консультацію</h2>
    <form method="post" asp-controller="Home" asp-action="RegisterConsultation">
        <div class="form-group">
            <label for="fullName">Ім'я та прізвище:</label>
            <input type="text" class="form-control" id="fullName" name="fullName" value="@Model.FullName" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="@Model.Email" required>
        </div>

        <div class="form-group">
            <label for="consultationDate">Бажана дата консультації:</label>
            <input type="date" class="form-control" id="consultationDate" name="consultationDate" value="@Model.ConsultationDate" required>
        </div>
        <div class="form-group">
            <label for="selectedProduct">Вибір продукту:</label>
            <select class="form-control" id="selectedProduct" name="Subject" asp-for="Subject" required>
                <option value="JavaScript">JavaScript</option>
                <option value="C#">C#</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="Основи">Основи</option>
            </select>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button style="width:100%;margin-top: 15px" type="submit" class="btn btn-primary">Зареєструватися на консультацію</button>
    </form>
</div>