@using MyApp.ViewModels;
@model OrdersCount
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration - MyApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyApp.styles.css" asp-append-version="true" />
</head>
<body style="width:80%; margin:15px auto">
    <form method="post" asp-controller="Home" asp-action="MakeOrders">
        <div class="form-group">
            <label for="Count">Pizza count</label>
            <input type="number" class="form-control" id="Pizzas" name="Count" asp-for="Count" required>
        </div>
        <div>
            <button style="width:100%" type="submit" class="btn btn-primary mx-auto">Register</button>
        </div>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>